<a name="<%= [package.registry, package.name].join('-') %>"></a>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= package.name %></strong>
          <div class="content">
            <p class="heading">sources</p>

            <small>
              <span class="tag">
              <a href="<%= package.registry_url %>">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <%= package.registry %>
              </a>
              </span>
            </small>

            <%- if package.cached? %>
            <small>
              <%- if package.repository_url -%>
              <span class="tag">
              <a href="<%= package.repository_url %>">
                <i class="fa fa-github" aria-hidden="true"></i>
                GitHub
              </a>
              </span>
              <%- else -%>
              <span class="tag">
              Repository detection error
              </span>
              <%- end -%>
            </small>

            <small>
              <%- if package.ci_url %>
                <span class="tag">
                <a href="<%= package.ci_url %>">
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                  CI
                  <%- versions = package.send(:ci).configured_versions %>
                  <%- if versions.present? %>
                    (<%= versions.size %> ruby versions)
                  <%- end %>
                </a>
                </span>
              <%- end %>
            </small>
            <%- end %>
          </div>

          <%- if package.cached? %>
            <%- Package.metric_classes.group_by(&:group).each do |group, metric_classes| -%>
              <div class="content">
              <p class="heading">
              <%= group %>
              </p>

              <nav class="level">
              <div class="level-left">
              <%- metric_classes.each do |metric_class| -%>
                <div class="level-item">
                  <%- metric = package.metric_collection[metric_class.to_s] %>
                  <%- if metric %>
                    <div class="tags has-addons">
                      <span class="tag"><%= metric.class.title %></span>
                      <span class="tag is-<%= metric.class_name %>">
                        <%-
                          value = case metric.value
                                  when Time
                                    "#{time_ago_in_words(metric.value)} ago"
                                  else
                                    metric.value
                                  end
                        -%>
                        <%= value %>
                      </span>
                    </div>
                  <%- end %>
                </div>
              <%- end -%>
              </div>
              </nav>

              </div>
            <%- end -%>
          <%- else -%>
            <p>Please wait a while until loading.</p>
            <%= link_to 'reload', "?t=#{rand}##{[package.registry, package.name].join('-')}" %>
          <%- end -%>
        </p>
      </div>
    </div>
  </article>
</div>
