<div class="container">
<div class="content has-text-centered">
<table class="table">
  <tr>
    <th>Registry</th>
    <th>Package name</th>
    <%- Package.metric_classes.each do |metric_class| -%>
    <th>
      <%= metric_class.title %>
    </th>
    <%- end -%>
  </tr>
  <%- @project.packages.each do |package| -%>
    <%- puts package.name %>
  <tr>
    <%- if package.cached? -%>
      <td>
        <a href="<%= package.registry_url %>">
          <%= package.registry %>
        </a>
      </td>
      <td>
        <a href="<%= package.repository_url %>">
          <i class="fa fa-github" aria-hidden="true"></i>
          <%= package.name %>
        </a>
      </td>
      <%- Package.metric_classes.each do |metric_class| -%>
        <td>
          <%- metric = package.metric_collection[metric_class.to_s] %>
          <%- if metric %>
            <span class="tag is-<%= metric.class_name %>">
              <%= metric.value %>
            </span>
          <%- end %>
        </td>
      <%- end -%>
    <%- else -%>
      <td>
        <a href="<%= package.registry_url %>">
          <%= package.registry %>
        </a>
      </td>
      <td><%= package.name %></td>
    <%- end -%>
  </tr>
  <%- end -%>
</table>
</div>
</div>
