<!DOCTYPE html>
<html>
  <head>
    <title>pkgstatus.org</title>
    <%= csrf_meta_tags %>

    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%= render partial: 'layouts/navigation' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
